<%-include('partials/header')%>
<div text-center>
<img src="https://raw.githubusercontent.com/MiraSpitzer/Taak_webontwikkeling_Mira_Spitzer/main/public/PSE.jpg" height="550px" width="1000px"></img>
</div>
<%- include ('partials/footer') %>