<form action="/search" method="get" class="search">
    
    <input type="text" class="search_input" id="search" name="q" value="<%= q %>" placeholder="Search here...">
    <button type="submit">ZOEK</button>
    
</form>
